<div id="recipeCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @recipe.images.each_with_index do |image, index| %>
      <li data-target="#recipeCarousel" data-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>"></li>
    <% end %>
  </ol>

  <div class="carousel-inner">
    <% @recipe.images.each_with_index do |image, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <%= cl_image_tag(image.key, class: 'd-block recipe-img') %>
      </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
