<div class="recipe-card-container">
  <div class="recipe-card-img">
    <%= image_tag("https://images.unsplash.com/photo-1547592180-85f173990554?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80", alt: "Recipe Photo", class: "recipe-card-img") %>
    <div class="recipe-title-container">
      <h3 class="recipe-title">Recipe Title</h3>
    </div>
  </div>
  <div class="recipe-card-content">
    <div class="recipe-top-container">
      <div class="stars-container">
        <div class="recipe-reviews">
          <i class="fa-solid fa-star" style="color: #F1B150;"></i>
          <i class="fa-solid fa-star" style="color: #F1B150;"></i>
          <i class="fa-solid fa-star" style="color: #F1B150;"></i>
          <i class="fa-solid fa-star" style="color: #F1B150;"></i>
          <i class="fa-solid fa-star" style="color: #F1B150;"></i>
        </div>
      </div>
      <div class="recipe-icons">
        <p><i class="fas fa-utensils" style="color: #38484c;"></i>Servings: 8</p>
        <p><i class="fa-regular fa-clock" style="color: #38484c;"></i>Prep Time: 30 mins</p>
        <p><i class="fa-regular fa-clock" style="color: #38484c;"></i>Total Time: 55 mins</p>
      </div>
    </div>
    <div class="recipe-bottom-container">
      <div class="ingredients">
        <h4>Ingredients</h4>
        <ul>
          <li>Ingredient 1</li>
          <li>Ingredient 2</li>
          <li>Ingredient 3</li>
        </ul>
      </div>
      <div class="directions">
        <h4>Directions</h4>
        <ol>
          <li>Step 1</li>
          <li>Step 2</li>
          <li>Step 3</li>
        </ol>
      </div>
    </div>
  </div>
</div>
