<div class="recipe-card-container">
  <div class="recipe-card-img">
    <%= image_tag("https://images.unsplash.com/photo-1547592180-85f173990554?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80", alt: "Recipe Photo", class: "recipe-card-img") %>
    <div class="recipe-title-container">
      <h3 class="recipe-title">Recipe Title</h3>
    </div>
  </div>
  <div class="recipe-card-content">
  </div>
</div>
